body{
  background-image: url(diamondPlateReapeatable.jpeg);
}
* {
  box-sizing: border-box;
  outline: none;
}
div {
  overflow: hidden;
  background: #aaaaaa;
  padding: 5px;
}
input {
  margin: 5px 5px 5px 5px;
  background-image: linear-gradient(#aaaaaa, #d0d0d0);
  border-radius: 3px;
}
right{
  float: right;
  clear: both;
}
p {
  margin-top: 0px;
}
p:last-child {
  margin-bottom: 0px;
}
button{
  background-image: linear-gradient(#aaaaaa, #d0d0d0);
  border-radius: 5px;
}

button:active{
  background: #aaaaaa;
  border-radius: 5px;
}

#myProgress {
  width: 100%;
  background-color: #aaaaaa;
  margin: 0px;
  padding: 0px 5px;
  height: 80px;
}

#myProgress::after {
  width: 1px;
  background-color: black;
  margin: auto;
  height: 80px;
  content: '';
  display: block;
  margin-top: -80px;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #aa0000;
  color: white;
  overflow: hidden;
}
#myBar2 {
  width: 0%;
  height: 30px;
  background-color: #0000aa;
  color: white;
  overflow: hidden;
}
panel {
  display: flex;
  width: 95%;
  margin: 0px auto;
}
#flex, canvas {
  display: block;
  padding: 0px !important;
  margin: 0px !important;
}